.servicesWrapper {
  width: 100%;
  padding: 50px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .serviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;

      .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .line {
          height: 2px;
          background-color: #038405;
          display: flex;
          width: 100%;
        }

        .title {
          font-size: 48px;
          font-family: Montserrat;
          font-weight: 300;
          letter-spacing: 0%;
          color: #121212;
        }
      }

      .description {
        font-size: 16px;
        line-height: 1.5;
        color: #555;
      }
    }

    .slider {
      position: relative;
      max-width: 1000px;
    }

    .sliderControls {
      display: flex;
      justify-content: end;
      margin-top: 20px;
      margin-right: 20px;
    }
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.6s ease-out;
  }
  .visible {
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  .servicesWrapper {
    padding: 30px 0;

    .serviceWrapper {
      .slider {
        max-width: 700px;
      }
      
      .header {
        .titleWrapper {
          .title {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .servicesWrapper {
    padding: 20px 0;

    .serviceWrapper {
      gap: 20px;

      .header {
        align-items: center;
        text-align: center;

        .titleWrapper {
          .title {
            font-size: 32px;
          }
        }
        .description {
          font-size: 14px;
        }
      }

      .slider {
        max-width: 600px;
      }
    }
  }
}

@media (max-width: 600px) {
  .servicesWrapper {
    .serviceWrapper {
      .header {
        align-items: center;
        text-align: center;

        .titleWrapper {
          .title {
            font-size: 24px;
          }
        }
        .description {
          font-size: 12px;
          padding: 0 10px;
        }
      }

      .slider {
        max-width: 90vw;
        padding: 0;
      }
    }
  }
}

.invisible {
  opacity: 0 !important;
  pointer-events: none;
}