@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0%;
    background-color: #EAEAEA;
    color: #121212;
  }
  
  #root, #__next {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  main {
    flex: 1;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }