.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

    .slider {
    width: 100%;
    height: 6px;
    background: #000;
    position: relative;
  }

  .thumb {
    height: 20px;
    width: 20px;
    background-color: #038405;
    cursor: grab;
    position: absolute;
    top: -7px;
  }

  .track {
    background: #ccc;
    height: 6px;
  }

  .bodyTypeWrapper,
  .fuelTypeWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .bodyTypeGrid,
    .fuelTypeGrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      .bodyTypeButton,
      .fuelTypeButton {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        padding: 20px;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
          background-color: #038405;
          color: white;
        }

        .icon {
          max-width: 40px;
          height: auto;
          margin-bottom: 5px;
        }
      }
    }
  }

  .sliderWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .rangeValues {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .buttonsWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


    .applyButton {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0%;      
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #038405;
      color: white;
      padding: 20px 60px 20px 40px;
      border: none;
      clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
      cursor: pointer;

      &:hover {
        background-color: #038405;
      }
    }

    .resetButton {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      align-items: center;
      justify-content: end;
      background-color: #ccc;
      color: black;
      padding: 20px 20px 20px 40px;
      border: none;
      cursor: pointer;
      text-align: center;
      clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%);

      &:hover {
        background-color: #aaa;
      }
    }
  }
}