.millitaryWrapper {
    width: 100%;
    padding: 50px 0;
  
    .millitaryWrapper2 {
      display: flex;
      flex-direction: column;
      gap: 30px;
  
      .topBlock {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
  
        .titleBlock {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
  
          .line {
            width: 100%;
            height: 2px;
            background-color: #038405;
          }
  
          .title {
            margin: 0;
            font-size: 48px;
            font-family: Montserrat;
            font-weight: 300;
            letter-spacing: 0%;
          }
        }
  
        .image {
          width: 550px;
          height: auto;
        }
      }
  
      .bottomBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
  
        .text {
          font-size: 16px;
          line-height: 1.5;
          width: 100%;
        }
  
        .button {
          padding: 15px 100px;
          font-size: 16px;
          background-color: #038405;
          color: white;
          border: none;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          letter-spacing: 0%;
          clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
          cursor: pointer;
          transition: background-color 0.3s ease;
          z-index: 3;
  
          &:hover {
            background-color: #026c03;
          }
        }

        .slider {
          position: relative;
          max-width: 1000px;
          margin-top: 40px;

        .keen-slider {
          display: flex;
          gap: 20px;
        }

        .slide {
          flex: 0 0 calc(33.333% - 20px);
          width: 300px;
          height: 400px;
          background: #181818;
          overflow: hidden;
          box-shadow: 0 4px 10px rgba(0,0,0,0.15);
          transition: box-shadow 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .sliderImage {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-radius: 12px;
          display: block;
        }
      }

      .sliderControls {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        margin-right: 20px;

        .sliderButton {
          background-color: transparent;
          border: none;
          padding: 10px;
          cursor: pointer;
          width: 150px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          clip-path: polygon(calc(0% + 50px) 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
          background-color: #038405;

        }
      }
      }
    }
  }