.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  opacity: 0 !important;
  pointer-events: none;
}

.statsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;

  .statItem {
    opacity: 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      
      .trapezoid {
        background-color: darken(#038405, 10%);
        transition: background-color 0.3s ease;
      }
    }
  }

  .trapezoid {
    position: relative;
    width: 200px;
    height: 120px;
    clip-path: polygon(calc(0% + 50px) 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
    background-color: #038405;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;

    .content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .valueWrapper {
       .number {
          font-size: 36px;
          font-family: Montserrat;
          font-weight: 800;
          letter-spacing: 0%;
          gap: 5px;
          text-align: right;
          margin: 0;
          display: inline-flex;
          align-items: flex-end;

          .unit {
            font-size: 24px;
            font-family: Montserrat;
            font-weight: 800;
            letter-spacing: 0%;
            text-align: right;
            margin: 0;
          }
        }
      }

      .name {
        font-size: 14px;
        margin: 0;
        margin-top: 5px;
        max-width: 100px;
        text-align: left;
      }
    }
  }

  .hidden {
    opacity: 0;
  }

  .visible .statItem {
    opacity: 1;
  }
}



@media (max-width: 1440px) {
  .statsWrapper {
    .statItem {
      .trapezoid {
        width: 200px;
        height: 120px;
        clip-path: polygon(calc(0% + 50px) 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
        .content {
          .valueWrapper {
            .number {
              font-size: 32px;
              .unit {
                font-size: 18px;
              }
            }
          }
          .name {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrapper{
    padding-left: 20px;
  }
  .statsWrapper {
    .statItem {
      margin-left: -20px;
      .trapezoid {
        width: 160px;
        height: 100px;
        clip-path: polygon(calc(0% + 50px) 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
        .content {
          .valueWrapper {
            .number {
              font-size: 20px;
              .unit {
                font-size: 16px;
              }
            }
          }
          .name {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper{
    flex-direction: column;
    padding: 0;
  }
  .statsWrapper {
    .statItem {
      margin-left: 0;
      .trapezoid {
        width: 140px;
        height: 140px;
        clip-path: polygon(
          0% 0%, 
          50% 25%,  
          100% 0%,    
          100% 75%,      
          50% 100%,           
          0% 75%          
        );
        .content {
          .valueWrapper {
            .number {
              font-size: 18px;
              .unit {
                font-size: 12px;
              }
            }
          }
          .name {
            text-align: center;
            font-size: 10px;
          }
        }
      }
    }
  }
}