.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .statItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .trapezoid {
    position: relative;
    width: 200px;
    height: 120px;
    clip-path: polygon(calc(0% + 50px) 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
    background-color: #038405;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
  }
  
  .content {
    text-align: center;
  }
  
  .value {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  .name {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
  }