.mapContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.reviewCardOverlay {
  min-width: 340px;
  max-width: 400px;
  pointer-events: auto;
}

.map {
  width: 100%;
  height: auto;
  max-width: 1500px;
}

.region {
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

.reviewCardWrapper {
  width: 340px;
  min-height: 200px;
  pointer-events: auto;
}


@media (max-width: 1440px) {
  .map {
    max-width: 1100px;
    scale: 0.8;
  }
}

@media (max-width: 1024px) {
  .map {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .map {
    max-width: 340px;
  }
}