.map {
  width: 1500px;
  height: 1000px;
}

.region {
  cursor: pointer;
  fill: #ccc; /* Базовый цвет региона */
}

.selected {
  fill: #026b03; /* Цвет выбранного региона */
}

.mapContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}